body {
    font-family: tahoma, helvetica, arial, sans-serif;
    font-size: 12px;
    text-align: center;
    color: #777;
}

section {
    margin: auto;
    width: 800px;
    position: relative;
    text-align: center;
}
.wrapper {
    text-align: center;
}



ul {
    text-align: left;
}

button {
    font-size: 14px;
    color:#000;
    width: 60px;
    background-color: #bada55;
    border: 1px solid #777;
}

.button:hover {
    background-color: #FF1;
    border: 1px solid #777;
}

.col {
    width:64px;
	cursor: pointer; 
	cursor: hand;
    margin: 12px;
}

.row {
    height:64px;
    margin: 12px;
	cursor: pointer; 
	cursor: hand;
}
