body {
    font-family: tahoma, helvetica, arial, sans-serif;
    font-size: 12px;
    text-align: center;
    color: #777;
}

section {
    margin: auto;
    width: 800px;
    position: relative;
    text-align: center;
}

ul {
    text-align: left;
}

.button {
    font-size: 14px;
    color:#000;
    padding: 5px 10px;
    width: 40px;
    background-color: #FF9;
    border: 1px solid #777;
}

.button:hover {
    background-color: #FF1;
    border: 1px solid #777;
}

.col {
	cursor: pointer; 
	cursor: hand;
    padding: 4px;
    margin: 2px;
    background-color: #CF9;
    border: 1px solid #777;
}

.row {
    margin: 12px;
	cursor: pointer; 
	cursor: hand;
}
